html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 1.5rem;
}

img {
  width: 100%;
  display: block;
}

.cards img {
  width: 100px;
  display: block;
  margin: 0 auto 1.5rem;
}

div > h1 {
  font-size: .875rem;
  margin: 0;
}

.cards p {
  flex-grow: 1;
  margin: 0 0 1.5rem;
}

h2 {
  font-size: .875rem;
  font-style: italic;
  font-weight: normal;
  margin-top: 0;
}

h3 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.main {
  text-align: center;
}

.cards {
  display: flex;
}

.cards h1 {
  font-size: .875rem;
}

.cards div {
  padding: .75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.first {
  width: 25%;
  background-color: #e2e2e2;
}

.second {
  width: 25%;
  background-color: #ccc;
}

.third {
  width: 25%;
  background-color: #aaa;
}

.fourth {
  width: 25%;
  background-color: #999;
}

.btn {
  display: inline-block;
  padding: .4em .75em .3em;
  border: 3px solid #333;
  border-radius: 8px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
}

.btn-small {
  font-size: .875rem;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}
